@charset "utf-8";

/* 전 컨텐츠를 감싸는 div */
.containerbox {
	width: 1200px;
	margin: auto;
}

/* header 높이 margin 85 */
.main_margin_85 {
	height: 85px;
}

/* header 높이 + 여유여백 margin 155 */
.main_margin_155 {
	height: 155px;
}

/* 페이지 자체 제목 쓸 때 사용. ex) 자유게시판 */
h1{ 
	font-size: 24px;
	letter-spacing :1px;
	font-weight: 800;
	margin: 0;
	margin-bottom: 50px;
}


/* 컨텐츠 제목 */
.text_title{
	font-size: 20px;
	letter-spacing :1px;
	font-weight: 600;
}


/* 컨텐츠 내용 */
.text_normal{
	font-size: 16px;
	letter-spacing :1px;
}


/* 컨텐츠 내용보다 더 작은 참고용 내용 적을 때 사용 */
.text_mini{
	font-size: 12px;
	letter-spacing :1px;
}



/* 버튼 디자인 - 일반 주요 버튼 */
.btn_base {
	height: 50px;
	margin: 10px;
	padding: 15px 30px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	display: block;
	border: 0px;
	font-weight: 700;
	box-shadow: 0px 0px 14px -7px #013d98;
	background-image: linear-gradient(45deg, #001A41 0%, #013d98 51%, #001A41 100%);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.btn_base:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.btn_base:active {
	transform: scale(0.95);
}


/* 버튼 디자인 - 아웃라인버튼 */
.btn_outline {
	height: 48px;
	align-items: center;
	background-color: #fff;
	border: 2px solid #001A41;
	box-sizing: border-box;
	color: #001A41;
	cursor: pointer;
	display: inline-flex;
	fill: #001A41;
	font-family: Inter, sans-serif;
	font-weight: 600;
	justify-content: center;
	outline: 0;
	margin: 10px;
	padding: 15px 30px;
	text-align: center;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	border-radius: 10px;
	font-weight: 700;
	box-shadow: 0px 0px 14px -7px #013d98;
}

.btn_outline:focus {
	color: #001A41;
}

.btn_outline:hover {
	border-color: #003584;
	color: #003584;
	fill: #003584;
}

.btn_outline:active {
	border-color: #003584;
	color: #003584;
	fill: #003584;
}


.btn_outline:hover,
.btn_outline:focus {
	border-color: #013d98 (0, 0, 0, 0.15);
	box-shadow: #013d98 (0, 0, 0, 0.1) 0 4px 12px;
}

.btn_outline:hover {
	transform: translateY(-1px);
}

.btn_outline:active {
	background-color: #F0F0F1;
	box-shadow: 0px 0px 2px 4px #013d98;
	transform: translateY(0);
}


/*  */