@charset "utf-8";

  #gym-detail * {
  	box-sizing: border-box;
  }

  #gym-detail div {
  	/* border: 1px solid black; */
  	/* padding :5px; */
  }

  #gym-detail .lcontents {
  	width: 830px;
  	margin-right: 50px;
  	float: left;
  }

  #gym-detail .rcontents {
  	width: 320px;

  	float: left;
  }

  /* #gym-detail .placebox1 {
        height: 50%;
      }
      #gym-detail .reviewbox {
        height: 50%;
      } */
  #gym-detail .placename {
  	width: 80%;
  	height: 50px;
  	float: left;
  }

  #gym-detail .icon1 {
  	width: 20%;
  	height: 50px;
  	float: left;
  	font-size: 30px;
  	text-align: right;
  }

  #gym-detail .place {
  	width: 100%;
  	height: 50px;
  	float: left;
  }

  #gym-detail .placemap {
  	width: 100%;
  	height: 400px;
  	float: left;
  }

  #gym-detail .machine_info {
  	width: 100%;

  	float: left;
  }

  #gym-detail .placeprice {
  	width: 100%;

  	float: left;
  }

  #gym-detail .reviewn {
  	width: 80%;
  	height: 70px;
  	float: left;
  }

  #gym-detail .reviewr {
  	width: 20%;
  	height: 70px;
  	float: left;
  }

  #gym-detail .review2 {
  	width: 100%;
  	display: none;
  }

  #gym-detail .authmark {
  	width: 10%;
  	height: 50px;
  	float: left;
  }

  #gym-detail .ranwriter {
  	width: 40%;
  	height: 50px;
  	float: left;
  }

  #gym-detail .writerd {
  	width: 40%;
  	height: 50px;
  	float: left;
  }

  #gym-detail .starc {
  	width: 10%;
  	height: 50px;
  	float: left;
  }

  #gym-detail .recontents {
  	width: 100%;
  	height: 60%;
  	float: left;
  }

  #gym-detail .chart1 {
  	width: 100%;
  	height: 30%;
  }

  #gym-detail .infotag {
  	width: 100%;
  }

  #gym-detail .infotag2 {
  	width: 100%;
  }

  #gym-detail .infopicture {
  	width: 100%;
  }

  #gym-detail dt {
  	float: left;
  }

  #gym-detail .newmore {
  	text-align: center;
  }

/*  */