@charset "utf-8";

   #host-user * {
   	box-sizing: boder-box;
   }

   #host-user div:not(.btn_div) {
   	border: 1px solid black;


   }
/*
   #host-user .containerbox {
   	width: 1200px;
   	margin: auto;
   	overflow: hidden;
   }
   */

   #host-user .title>div {
   	float: left;
   	text-align: center;
   }

   #host-user .selectuser {
   	width: 5%;
   }

   #host-user .userdivision {
   	width: 15%;
   }

   #host-user .user-email {
   	width: 15%;
   }

   #host-user .user-name {
   	width: 15%;
   }

   #host-user .user-phone {
   	width: 20%;
   }

   #host-user .gym-number {
   	width: 10%;
   }

   #host-user .sign-date {
   	width: 20%;
   }

   #host-user .btn_div {
   	float: right;
   }
/*  */