@charset "utf-8";




.review_seq{
    width: 70px
}
#host-review .user_email{
    width: 220px
}
.gym_name{
    width: 160px
}
.review_contents{
    width: 296px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.review_star{
    width: 100px
}
.review_like{
    width: 90px;
}

.review_like>span{
    position: relative;
    top:-3px;
}

.review_date{
    width: 110px
}
.review_photo{
    width: 110px
}



#img_layout {
    position:absolute; left:50%; top:50%; width:300px;
    height:300px; z-index:1; display:none; overflow: hidden;
}
