@charset "utf-8";

/* header */

#header {
	width: 100%;
	height: 85px;
	background: #001A41;
	opacity: 0.97;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10000;
	overflow: hidden;
}

#header_logo {
	font-family: 'Inter', sans-serif;
	font-weight: Extra Bold;
	font-style: italic;
	color: #FFFFFF;
	font-size: 40px;
	line-height: 85px;
	display: inline;
	margin-right: 80px;
}

nav {
	display: inline;
}

#header_nav_text>ul {
	list-style: none;
	padding: 0;
	display: inline;
}

#header_nav_text {
	width: 100px;
	height: 100px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 85px;
}

#header_nav_menu {
	margin: 0;
}

#header_nav_menu>li {
	margin-right: 50px;
}

#header_nav_person {
	margin: 0;
	position: relative;
	left: 300px;
}

#header_nav_person>li {
	margin-left: 50px;
}

.header_a_tag {
	text-decoration: none;
	color: #FFFFFF;
}

.header_a_tag:hover {
	color: #FFFFFF;
}

#header_nav_text>ul>li>a:hover {
	color: #FFFFFF;
	font-weight: 600;
}


/* footer */

#footer {
	background-color: #f5f5f7;
	height: 270px;
}

#footer .footer_line {
	background-color: #C7D3DC;
	height: 1px;
	margin-top: 50px;
}

#footer ul {
	list-style: none;
	padding: 0;
}

#footer .footer_a_tag {
	text-decoration: none;
	color: #000000;
}

#footer .footer_a_tag:hover {
	color: #003584;
}

#footer .leftbox {
	width: 400px;
	height: 200px;
	padding-top: 20px;
	padding-left: 20px;
	text-align: center;
}

#footer #footer_logo {
	font-family: 'Inter', sans-serif;
	font-weight: Extra Bold;
	font-style: italic;
	color: #C7D3DC;
	font-size: 40px;
	line-height: 85px;
	display: inline;
	margin-left: 10px;
}

#footer #footer_contact {
	margin-left: 10px;
}

#footer #footer_call {
	font-family: 'Inter', sans-serif;
	font-weight: Extra Bold;
	font-style: italic;
	color: #001A41;
	font-size: 40px;
	display: inline;
	letter-spacing: -3px;
}



#footer .rightbox {
	width: 800px;
	height: 200px;
	padding-top: 30px;
	padding-left: 70px;
}

#footer .footer_list>li {
	margin-right: 10px;
	z-index: 1000;
}

#footer .footer_sns {
	position: relative;
	top: -39px;
	z-index: 100;
}

#footer .footer_sns>li>a {
	margin-right: 20px;
	color: #8f959a;
}

#footer .linetext {
	vertical-align: 3px;
	font-size: 12px;
	color: #5e646c;
	margin-left: 11px;
}

#footer .footer_infotext {
	margin-top: -30px;
}

#footer .copyright-text {
	color: #5e646c;
	margin-top: 35px;
}


/* main */

#index .mainimg {
	width: 100%;
	height: 950px;
	background-image: url("/resource/main.jpg");
	background-repeat: no-repeat;
	background-position: center;
}



@-webkit-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@-moz-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@-o-keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
@keyframes zoom-a {
	0% { background-size: 100% auto; }
	100% { background-size: 120% auto; }
}
.type-a {
  -webkit-animation: zoom-a 10s linear infinite alternate; /* Safari 4+ */
  -moz-animation:    zoom-a 10s linear infinite alternate; /* Fx 5+ */
  -o-animation:      zoom-a 10s linear infinite alternate; /* Opera 12+ */
  animation:         zoom-a 10s linear infinite alternate; /* IE 10+, Fx 29+ */
}



#index .search_main{
	width: 812px;
	height: 77px;
	border-radius: 100px;
	margin: auto;
	position: relative;
	top: 450px;
	z-index: 1000;
	background-color: #CF0C00;
	opacity: 0.9;
}
#index .search_main > .search_main_span{
	width: 40%;
	height: 100%;
	text-align: center;
	line-height: 75px;
	position: absolute;
	left: 40px;
}
#index .search_main > .search_main_span > span{
	font-size: 1.5em; /* 유어 모시꺵이 */
	color: white;
	font-style: oblique;
}
#index .search_main > .search_main_input{
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 15px;
	text-align: center;
	opacity: 0.9;
}
#index .search_main > .search_main_input > input{
	width: 404px;
	height: 45px;
	font-size: large;
	text-align: left;
	position: relative;
	border-radius: 100px;
	border: none;
	box-shadow: 3px 4px 5px rgb(150, 12, 12);
}
#index .search_main > .search_main_icon{
	width: 30px;
	height: 100%;
	font-size: 1.5em;
	color: #CF0C00;
	position: absolute;
	top: 22px; /*아이콘위치*/
	right: 55px;
}