@charset "utf-8";

/* header */

#header {
	width: 100%;
	height: 85px;
	background: #001A41;
	opacity: 0.97;
	position: sticky;
	top: 0px;
	z-index: 3;
	overflow: hidden;
}

#header_logo {
	font-family: 'Inter', sans-serif;
	font-weight: Extra Bold;
	font-style: italic;
	color: #FFFFFF;
	font-size: 40px;
	line-height: 85px;
	display: inline;
	margin-right: 80px;
}

nav {
	display: inline;
}

#header_nav_text>ul {
	list-style: none;
	padding: 0;
	display: inline;
}

#header_nav_text {
	width: 100px;
	height: 100px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 85px;
}

#header_nav_menu {
	margin: 0;
}

#header_nav_menu>li {
	margin-right: 50px;
}

#header_nav_person {
	margin: 0;
	position: relative;
	left: 300px;
}

#header_nav_person>li {
	margin-left: 50px;
}

.header_a_tag {
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
}

.header_a_tag:hover {
	color: #FFFFFF;
}

#header_nav_text>ul>li>a:hover {
	color: #FFFFFF;
	font-weight: 600;
}

/* footer */

#footer {
	background-color: #f5f5f7;
	height: 270px;
}

#footer .footer_line {
	background-color: #C7D3DC;
	height: 1px;
	margin-top: 50px;
}

#footer ul {
	list-style: none;
	padding: 0;
}

#footer .footer_a_tag {
	text-decoration: none;
	color: #000000;
}

#footer .footer_a_tag:hover {
	color: #003584;
}

#footer .leftbox {
	width: 400px;
	height: 200px;
	padding-top: 20px;
	padding-left: 20px;
	text-align: center;
}

#footer #footer_logo {
	font-family: 'Inter', sans-serif;
	font-weight: Extra Bold;
	font-style: italic;
	color: #C7D3DC;
	font-size: 40px;
	line-height: 85px;
	display: inline;
	margin-left: 10px;
}

#footer #footer_contact {
	margin-left: 10px;
}

#footer #footer_call {
	font-family: 'Inter', sans-serif;
	font-weight: Extra Bold;
	font-style: italic;
	color: #001A41;
	font-size: 40px;
	display: inline;
	letter-spacing: -3px;
}

#footer .rightbox {
	width: 800px;
	height: 200px;
	padding-top: 30px;
	padding-left: 70px;
}

#footer .footer_list>li {
	margin-right: 10px;
	z-index: 3;
}

#footer .footer_sns {
	position: relative;
	top: -39px;
	z-index: 3;
}

#footer .footer_sns>li>a {
	margin-right: 20px;
	color: #8f959a;
}

#footer .linetext {
	vertical-align: 3px;
	font-size: 12px;
	color: #5e646c;
	margin-left: 11px;
}

#footer .footer_infotext {
	margin-top: -30px;
}

#footer .copyright-text {
	color: #5e646c;
	margin-top: 35px;
}


/* main */

#index .wrap {
	 width: 100%;
	 height: 950px;
	 overflow: hidden;
	 position: relative;
}


#index .mainimg {
	background-image: url("/resource/main.jpg");
	background-size: cover;
  	background-position: center;
}

#index .bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

@-webkit-keyframes zoom-b {
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
  100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}
@-moz-keyframes zoom-b {
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
  100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}
@-o-keyframes zoom-b {
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
  100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}
@keyframes zoom-b {
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1) translateZ(1px);
  }
  100% {
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2) translateZ(1px);
  }
}
.type-b {
  -webkit-animation: zoom-b 10s linear infinite alternate; /* Safari 4+ */
  -moz-animation:    zoom-b 10s linear infinite alternate; /* Fx 5+ */
  -o-animation:      zoom-b 10s linear infinite alternate; /* Opera 12+ */
  animation:         zoom-b 10s linear infinite alternate; /* IE 10+, Fx 29+ */
}


#index .search_main {
	width: 812px;
	height: 77px;
	border-radius: 100px;
	margin: auto;
	position: relative;
	top: 450px;
	z-index: 2;
	background-color: #CF0C00;
	opacity: 0.9;
}

#index .search_main>.search_main_span {
	width: 40%;
	height: 100%;
	text-align: center;
	line-height: 75px;
	position: absolute;
	left: 40px;
}

#index .search_main>.search_main_span>span {
	font-size: 1.5em;
	color: white;
	font-style: oblique;
}

#index .search_main>.search_main_input {
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 15px;
	text-align: center;
	opacity: 0.9;
}

#index .search_main>.search_main_input>input {
	width: 404px;
	height: 45px;
	font-size: large;
	text-align: left;
	position: relative;
	border-radius: 100px;
	border: none;
	box-shadow: 3px 4px 5px rgb(150, 12, 12);
}

#index .search_main>#btn_search {
	position: relative;
	float: right;
	right: 60px;
	line-height: 77px;
	font-size: 1.5em;
	color: #CF0C00;
	cursor: pointer;
}

#index hr {
	color: #C8C8C8
}

#index .review {
	position: relative;
	margin: 120px 0px;
}

#index .carousel {
	filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.07000000029802322));
}

#index .owl-stage {
	height: 400px;
}

#index .item {
	position: relative;
	padding: 10px;
	top: 50px;
	width: 300px;
	height: 300px;
	box-shadow: 1px 1px 5px 1px #C8C8C8;
	border-radius: 6px;
	transition: 0.5s
}

#index .item td {
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

#index .item:hover {
	transform: scale(1.15);
}

#index .prevBox,
#index .nextBox {
	position: absolute;
	width: 100px;
	height: 300px;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 3;
}

#index .prevBox {
	left: 13px;
}

#index .nextBox {
	left: 1113px;
}

#index .prev {
	rotate: 180deg;
}

#index .prev,
#index .next {
	position: relative;
	padding-left: 3px;
	width: 50px;
	height: 50px;
	top: 45%;
	border-radius: 50px;
	transition: 0.5s;
	background-color: #C8C8C8;
	font-size: x-large;
	color: white;
	cursor: pointer;
}

#index .prev::before,
#index .next::before {
	line-height: 50px;
}

#index .prev:hover,
#index .next:hover {
	scale: 1.15;
}

#index .prev:active,
#index .next:active {
	scale: 0.95;
}

#index .ads{
	margin: 120px 0px;
}

#index .ads>.banner {
	height: 200px;
	-webkit-box-shadow: 1x 1px 5px 1px #C8C8C8;
	box-shadow: 1px 1px 5px 1px #C8C8C8;
	border-radius: 6px;
}