@charset "utf-8";


/* 김민섭님이 만들어주신 귀한 버튼 */

#kms .search_main{
	width: 812px;
	height: 77px;
	border-radius: 100px;
	position: absolute;
	left: 200px;
	top: 50px;
	z-index: 1000;
	background-color: #CF0C00;
	opacity: 0.9;
	display: none;
}
#kms .search_main > .search_main_span{
	width: 40%;
	height: 100%;
	text-align: center;
	line-height: 75px;
	position: absolute;
	left: 40px;
}
#kms .search_main > .search_main_span > span{
	font-size: 1.4em;
	color: white;
	font-style: oblique;
}
#kms .search_main > .search_main_input{
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 15px;
	text-align: center;
	opacity: 0.9;
}
#kms .search_main > .search_main_input > input{
	width: 404px;
	height: 45px;
	font-size: large;
	text-align: center;
	position: relative;
	border-radius: 100px;
	border: none;
	box-shadow: 3px 4px 5px rgb(150, 12, 12);
}
#kms .search_main > .search_main_icon{
	width: 30px;
	height: 100%;
	font-size: 1.5em;
	color: #CF0C00;
	position: absolute;
	top: 22px;
	right: 55px;
}


/*  */