@charset "utf-8";


#personal-record div[class^='col'] {
	padding: 10px;
}

#personal-record .boundary {
	padding: 10px;
	border: solid #808080 1px;
	border-radius: 6px;
}

#personal-record #notice {
	height: 65px;
	line-height: 45px;
}

#personal-record #manager {
	height: 250px;
}

#personal-record #inbody,
#personal-record #weight {
	height: 350px;
	transition: 0.5s;
}

#personal-record #inbody_chart {
	transition: 0.5s;
}

#personal-record #weight_chart {
	transition: 0.5s;
}

#personal-record #calendar {
	height: 400px;
}

#personal-record #result,
#personal-record #record {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	height: 300px;
	transition: 0.5s;
}

#personal-record #result_contents {
	position: relative;
}

#personal-record #result_contents p {
	margin: 0px;
}

#personal-record #result_contents div[class^="col"] {
	padding-bottom: 0px;
}


#personal-record .filter {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	font-size: x-large;
	background-color: #18181840;
	border-radius: 6px;
	line-height: 300px;
	z-index: 5;
}

#personal-record #record {
	display: none;
}

#personal-record #record input:not([type="range"]) {
	padding-left: 5px;
	padding-right: 5px;
	border: 0px;
	border-bottom: 1px solid #808080;
}

#personal-record #record input:not([type="range"]):focus {
	outline: none;
	box-shadow: 0px 1px 0px 0px #808080;
}

#personal-record #record #reg_range_label {
	position: absolute;
	width: 20px;
	height: 20px;
	text-align: center;
	color: white;
	display: inline-block;
	bottom: 175%;
	font-size: 20px;
	line-height: 20px;
	transform: translate(0, 20px);
}

#personal-record #record form {
	position: relative;
}

#personal-record #record sup {
	color: red;
}

#personal-record #record .text-start {
	padding-left: 15px;
}

#personal-record #record .text-end {
	padding-right: 15px;
}

#personal-record .chart_wrap {
	padding: 5px;
	width: 100%;
}


/* 캘린더 부분 */
#personal-record #calendar {
	position: relative;
	padding: 0px;
	top: -10px;
	border: none;

}

#personal-record #calendar>* {
	width: 100%;
	height: 100%;
}

#personal-record .ui-datepicker-calendar {
	width: 90% !important;
	height: 75% !important;
}

#personal-record .ui-datepicker-header {
	height: 90px !important;
}

#personal-record .ui-datepicker-title {
	font-size: 20px !important;
}

#personal-record .ui-corner-all a {
	transform: translate(0, 6px) !important;
}

#personal-record .ui-datepicker-calendar th {
	position: relative !important;
	top: -10px !important;
	font-size: 18px !important;
}

#personal-record .ui-datepicker td a {
	font-size: 20px !important;
}

#personal-record .ui-datepicker-week-end:first-of-type a {
	color: red;
}

#personal-record .ui-datepicker-week-end:last-of-type a {
	color: blue;
}

#personal-record .ui-datepicker-week-end:first-of-type .ui-state-active {
	background-color: red !important;
}

#personal-record .ui-datepicker-week-end:last-of-type .ui-state-active {
	background-color: blue !important;
}

#personal-record .ui-datepicker td:not(.ui-datepicker-week-end) .ui-state-active {
	background-color: black !important;
}

#personal-record .ui-state-active {
	color: white !important;
}







/* Manager CSS */
#personal-record .manager_titleBox{
	width: fit-content;
	font-weight: bold;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	border: 2px solid rgb(255, 238, 0);
	background-color: rgba(242, 250, 127, 0.3);
}

#personal-record .manager_startBox{
	margin: 15px;
}

#personal-record .manager_endBox{
	margin: 15px;
}















