@charset "utf-8";


#users-mypage div {
    box-sizing: border-box;
}

#users-mypage #user_img {
    width: 159px;
    height: 159px;
    border-radius: 100%;
}

#users-mypage #profile_upload {
    cursor: pointer;
    width: max-content;
}

#users-mypage .profile_title {
    width: 100px;
    display: inline-table;

}

#users-mypage #interest_out {
    width: 320px;
    overflow: scroll;
    display: inline-table;
    height: 100px;
    position: absolute;
    right: 360px;
}

#users-mypage .interesting {
    border: 1px solid rgb(204, 204, 204);
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 30px;
    width: max-content;
    display: inline-table;
}

#users-mypage .modifyBtn {
    transform: translate(0, -2px);
    width: 150px;
    height: 50px;
    font-size: 15px;
    padding: 5px;
    display: inline-table;
}

#users-mypage .gym_area {
    width: 1200px;
    height: 260px;
    padding-left: 12px;
}

#users-mypage .gym_cards_box {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    width: 280px;
    height: 1200px;
    transform: rotate(-90deg);
    position: relative;
    left: 446px;
    top: -460px;
}

#users-mypage .gym_cards_box::-webkit-scrollbar {
    display: none;
}

#users-mypage .gym_card {
    width: 260px;
    height: 260px;
    margin-bottom: 30px;
    transform: rotate(90deg);
    overflow: visible;
    z-index: 1;
}

#users-mypage .gym_img {
    width: 260px;
    height: 260px;
    cursor: default;
}


#users-mypage .gym_text {
    background-color: rgba(221, 221, 221, 0.71);
    color: rgb(36, 36, 40);
    position: absolute;
    width: 100%;
    height: 140px;
    left: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

#users-mypage .gym_card:hover .gym_text {
    opacity: 1;
    transition: 0.3s;
}

#users-mypage .heart {
    cursor: pointer;
    color: #CF0C00;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 2;
}

#users-mypage .heart:hover {
    filter: blur(0px);
    -webkit-filter: blur(1px);
    transition: 0.2s;
}

#users-mypage .review_cards_area {
    margin: 0 auto;
    width: 1200px;
}

#users-mypage .modify_review_btn {
    color: black;
    padding-left: 10px;
}

#users-mypage .modify_review_btn:hover {
    color: rgb(120, 19, 214);
}

#users-mypage .del_review_btn {
    color: red;
    cursor: pointer;
}

#users-mypage .del_review_btn:hover {
    color: rgb(171, 13, 13);
}

#users-mypage .review_gymName {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-left: 30px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
}

#users-mypage .review_text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    width: 95%;
    max-height: 40px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#users-mypage hr {
    width: 98%;
    margin: 0 auto;
}

#users-mypage #private {
    position: fixed;
    top:85px;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(179, 179, 179, 0.227);
    z-index: 1001;
}