@charset "utf-8";

/* 로그인 */

.swal2-shown {
	overflow-y: scroll;
	padding: 0px !important;
}

#loginModal.loginModal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 6px;
	border: 1px solid #808080;
	z-index: 999;
}

#loginModal .window {
	background-color: white;
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 1px 1px 5px 1px #808080;
	position: relative;
	padding: 20px;
	padding-bottom: 50px;
	width: 350px;
	height: 475px;
	min-width: 350px;
	padding-top: 30px;
}

#loginModal .title {
	display: inline;
	text-shadow: 1px 1px 2px gray;
}

#loginModal .close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	padding-right: 15px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

#loginModal .content {
	margin-top: 20px;
}

#loginModal input:not([type="checkbox"]) {
	padding-left: 5px;
	padding-right: 5px;
	width: 250px;
	border: 0px;
	border-bottom: 1px solid black;
	outline: none;
}

#loginModal input:not([type="checkbox"]):focus {
	box-shadow: 0px 1px 0px 0px black;
}

#loginModal .btn_base {
	width: 120px;
	height: 50px;
}

#loginModal a:hover {
	cursor: pointer;
}

#loginModal .search {
	display: none;
}

/* 일반 회원가입 */

#signupModal input {
	padding-left: 5px;
	padding-right: 5px;
	width: 250px;
	border: 0px;
	border-bottom: 1px solid black;
}

#signupModal input:focus {
	outline: none;
	box-shadow: 0px 1px 0px 0px black;
}

#signupModal .error_msg {
	height: 12px;
}

#signupModal #user_email_msg, #signup #user_pw_re_msg, #signup #user_phone_msg
	{
	display: none;
	letter-spacing: -1px;
}

#signupModal.signupModal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 6px;
	border: 1px solid #808080;
	z-index: 5;
}

#signupModal .window {
	background-color: white;
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 1px 1px 5px 1px #808080;
	position: relative;
	padding: 20px;
	padding-top: 35px;
	width: 350px;
	height: 580px;
	min-width: 350px;
}

#signupModal .title {
	display: inline;
	text-shadow: 1px 1px 2px gray;
}

#signupModal .close-area {
	display: inline;
	float: right;
	padding-right: 15px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

#signupModal .content {
	margin-top: 20px;
}

#signupModal input:not([type="checkbox"]) {
	padding-left: 5px;
	padding-right: 5px;
	width: 250px;
	border: 0px;
	border-bottom: 1px solid black;
	outline: none;
}

#signupModal input:not([type="checkbox"]):focus {
	box-shadow: 0px 1px 0px 0px black;
}

#signupModal a:hover {
	cursor: pointer;
}

#signupModal .search {
	display: none;
}
